@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased transition-colors duration-300;
  }
  
  *, *::before, *::after {
    @apply transition-colors duration-300;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-slate-900 dark:text-white;
  }
}



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  @apply bg-slate-200 dark:bg-slate-950;
}


::-webkit-scrollbar-thumb {
  @apply bg-emerald-600 rounded-full border-2 border-slate-200 dark:border-slate-950 hover:bg-emerald-700 transition-colors;
}


html {
  scrollbar-width: thin;
  scrollbar-color: #059669 #E2E8F0; 
}

html.dark {
  scrollbar-color: #059669 #020617; 
}