@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased transition-colors duration-300;
  }
  
  *, *::before, *::after {
    @apply transition-colors duration-300;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-slate-900 dark:text-white;
  }
}